body {
    margin: 0;
  }
  
  .carrusel {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y:hidden;
    padding: 30px 0px;
  }
  
  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 500px;
    outline: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1; /* Agregado */
  
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .carrusel-item:hover {
    transform: scale(1.3);
    z-index: 2; /* Agregado */
  }

  .carrusel-item img:hover{
    border-radius: 5px;

  }
  